<!--二次提交工单-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        #aaa {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        #btn {
            float: right;
        }
    </style>
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery-3.3.1.min.js"></script>


</head>
<body>
<!-- workflow -->
<br>
<br>
<hr/>
<div class="container">
    <div class="col-md-4 mb-2">
        <h4>申请人:{{ workflow.wname }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>所属部门:{{ workflow.wdepname }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4 id="liushuihao">流水号:{{ workflow.wid }}</h4>
    </div>
</div>
<br>

<div class="container">
    <div class="col-md-4 mb-2">
        <h4>申请类型:{{ workflow.wapplytype }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>开始日期:{{ workflow.wbegin }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>结束日期:{{ workflow.wfinish }}</h4>
    </div>
</div>
<div class="container">
    <div class="col-md-4 md-2">
        <h4>备注:{{ workflow.wreasons }}</h4>
    </div>
</div>
<hr/>


{% for managerA in managerAList %}

    <h4>审批人：{{ managerA.approvaler }}</h4>
    <h4>审批意见：{{ managerA.approvalopinion }}</h4>
    <hr/>
{% endfor %}




<form class="form col-md-12" action="addmdispose" method="post">


    <div class="row">

        <div class="container" style="display:none;">
            <div class="form col-md-12">
                <label for="Createddatetime"><h4>wid:</h4></label>
                <input type="text" name="wid" class="form-control" id="Createddatetime" placeholder=""
                       value={{ workflow.wid }} required="" readonly="readonly">
            </div>
        </div>
        <div class="container">
            <div class="orm col-md-12">
                <label for="control-label"><h4>部门经理审批意见</h4></label>
                <input type="text" class="form-control input-lg" id="Contacts" placeholder="" value="" required=""
                       name="mopinion">
            </div>
        </div>

        <br>

        <div class="container">
            <div class="orm col-md-12">
                <button type="submit" name="bohui" class="btn btn-primary btn-lg" value="bohui">驳回</button>

                <button type="submit" name="pizhun" class="btn btn-primary btn-lg" value="pizhun" id="btn">批准</button>

                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
                        提交到:
                    <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        {% for item in dempList %}
                        <li role="presentation">
                            <button type="submit" role="menuitem" tabindex="-1" name={{ item.dname }} >
                                {{ item.depname }}
                            </button>
                        </li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
<!--
                    <script>
                        document.getElementsByName({{ item.dname }}).style.display = "none"
                    </script>
-->
</form>
<a href="http://127.0.0.1:8000/login" class="btn btn-info" name="abc">返回主页</a>

</body>
</html>


