<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>


<div class="container">
    <div class="col-md-4 mb-2">
        <h4>申请人:{{ workflow.wname }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>所属部门:{{ workflow.wdepname }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4 id="liushuihao">流水号:{{ workflow.wid }}</h4>
    </div>
</div>
<br>

<div class="container">
    <div class="col-md-4 mb-2">
        <h4>申请类型:{{ workflow.wapplytype }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>开始日期:{{ workflow.wbegin }}</h4>
    </div>

    <div class="col-md-4 mb-2">
        <h4>结束日期:{{ workflow.wfinish }}</h4>
    </div>
</div>
<div class="container">
    <div class="col-md-4 md-2">
        <h4>备注:{{ workflow.wreasons }}</h4>
    </div>
</div>
<hr/>


{% for managerA in managerAList %}

    <h4>审批人：{{ managerA.approvaler }}</h4>
    <h4>审批时间：{{ managerA.approvaltime }}</h4>
    <h4>审批意见：{{ managerA.approvalopinion }}</h4>
    <hr/>
{% endfor %}

<h3>当前进度：</h3>
<h1>{{ result }}</h1>
</body>
</html>