<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>phonetest</title>
    <style>
        .zoomImage {
            width: 30%;
            height: 0;
            padding-bottom: 30%;
            overflow: hidden;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

<div class="zoomImage" style="background-image:url(../media/img/30-074157_876_ETTYKcN.jpg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/2e84d877181543cb91712b60f7f480d0.jpeg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/30-074157_876.jpg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/63cdeb7f517b40b0b27b11cf84bfbaf5.jpeg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/20160621105148_rejiw.thumb.700_0.jpeg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/20161130092502_Bt3sU.jpeg)"></div>
<div class="zoomImage" style="background-image:url(../media/img/30-074157_876_ETTYKcN.jpg)"></div>

</body>
</html>