{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页面{% endblock %}
{% block linkscript %}
    <style>
        #aaa {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    </style>
{% endblock %}

{% block content %}
    <!-----------------------手机端底部导航--------------------------	-->
    <div class="row visible-on">
        <div class="col-xs-12 column visible-xs">
            <nav class="nav navbar-default navbar-fixed-bottom" role="navigation">
                <!--navbar-fixed-bottom固定到底部--   2、 navbar-fixed-top为顶部    3、 navbar- static-top为顶部>
                <!--navbar-default默认样式   inverse导航样式-->
                <!--navbar-fixed-bottom固定到底部-->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="/index"><span class="glyphicon glyphicon-home"></span> 首页</a></li>

                    <li><a href="/mrworkfolw/"><span class="glyphicon glyphicon-user"></span> HR</a></li>
                    <li><a href="/writeWorkList"><span class="glyphicon glyphicon-send"></span> ITSM</a></li>
                    <li><a href="/media/1"><span class="glyphicon glyphicon-film"></span> 媒体</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-----------------------手机端底部导航--------------------------	-->
    <div class="row clearfix">
        <div class="col-xs-12 col-md-3 column">
            <div class="panel panel-primary"><!--样式：default/success/primary/info/warning/danger-->
                <div class="panel-heading ">
                    <h3 class="panel-title">商务待办 <i class="glyphicon glyphicon-tags"></i></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead class="bg-primary">
                        <!--class="bg-info"加底色-->
                        <tr>
                            <th>
                                编号
                            </th>
                            <th>
                                产品
                            </th>
                            <th>
                                交付时间
                            </th>
                            <th>
                                状态
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                1
                            </td>
                            <td>
                                TB - Monthly
                            </td>
                            <td>
                                01/04/2012
                            </td>
                            <td>
                                Default
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-right"><a href="#">更多</a></div>
            </div>

            <div class="panel panel-danger"><!--样式：default/success/primary/info/warning/danger-->
                <div class="panel-heading">
                    <h3 class="panel-title">生日提醒 <i class="glyphicon glyphicon-gift"></i></h3>
                </div>
                <div class="panel-body">
                    <table class="table table-condensed">
                        <thead class="bg-danger">
                        <!--class="bg-info"加底色              inttimecha -->
                        <tr>
                            <th>姓名</th>
                            <th>职位</th>
                            <th>生日</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in uList %}
                            <tr>
                                <td>{{ item.uname }}</td>
                                <td>{{ item.role }}</td>
                                <td>{{ item.ubirthday }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-right"><a href="#">更多</a></div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6 column">
            <!-- 我的申请 -->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">我的申请 <i class="glyphicon glyphicon-bookmark"></i></h3>
                </div>
                <div class="panel-body">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th> 申请人</th>
                            <th> 申请类型</th>
                            <th> 事由</th>
                            <th>审批详情</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in lookOverList %}
                            <tr onclick="window.document.location = '/hrworkfolw/myfolw/{{ item.wid }}/'">
                                <td> {{ item.wname }} </td>
                                <td> {{ item.wapplytype }} </td>
                                <td id='aaa' title='{{ item.wreasons }}'
                                    style='width: 50px; text-align: left;'> {{ item.wreasons }} </td>
                                <td>{{ details }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-right"><a href="#">更多</a></div>
            </div>

            <!-- 别人的申请 -->
            <div class="panel panel-info">
                <div class="panel-heading" style="display: {{ what }}">
                    <h3 class="panel-title">别人的申请 <i class="glyphicon glyphicon-tag"></i></h3>
                </div>
                <div class="panel-body" style="display: {{ what }}">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th> 申请人</th>
                            <th> 申请类型</th>
                            <th> 事由</th>
                            <th>审批详情</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in approvalPending %}
                            <tr onclick="window.document.location ='{{ item.wid }}'">
                                <td id='aaa' title='{{ item.wid }}'
                                    style='width: 50px; text-align: left;'> {{ item.wname }} </td>
                                <td> {{ item.wapplytype }} </td>
                                <td id='aaa' title='{{ item.wreasons }}'
                                    style='width: 50px; text-align: left;'> {{ item.wreasons }} </td>
                                <td>{{ details }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="panel-footer text-right"><a href="#">更多</a></div>
                </div>
            </div>

            <!-- 维修申请 -->
            <div class="panel panel-warning">
                <div class="panel-heading" style="display: {{ what }}">
                    <h3 class="panel-title">维修申请 <i class="glyphicon glyphicon-wrench"></i></h3>
                </div>
                <div class="panel-body" style="display: {{ what }}">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th> 申请人</th>
                            <th> 故障分类</th>
                            <th> 设备名称型号</th>
                            <th>故障描述</th>
                            <th>申请时间</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in e2List %}
                            <tr onclick="window.document.location ='repairANDbuyer/{{ item.faultID }}{{ role }}'">
                                <td> {{ item.fname }} </td>
                                <td> {{ item.faultclass }} </td>
                                <td id='aaa' title='{{ item.brandtype }}'
                                    style='width: 50px; text-align: left;'> {{ item.brandtype }} </td>
                                <td id='aaa' title='{{ item.faultdescribe }}'
                                    style='width: 50px; text-align: left;'>{{ item.faultdescribe }}</td>
                                <td>{{ item.subtime }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="panel-footer text-right"><a href="#">更多</a></div>
                </div>
            </div>


            <div class="panel panel-warning">
                <!-- 采购申请 -->
                <div class="panel-heading">
                    <h3 class="panel-title">采购申请 <i class="glyphicon glyphicon-list-alt"></i></h3>
                </div>
                <div class="panel-body">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th>采购ID</th>
                            <th>申请人部门</th>
                            <th>申请人姓名</th>
                            <th>申请时间</th>
                            <th>备注</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in pafList %}
                            <tr onclick="window.document.location ='repairANDbuyer/{{ item.purchaseID }}{{ role }}'">
                                <td> {{ item.purchaseID }} </td>
                                <td> {{ item.pdemp }} </td>
                                <td> {{ item.pname }} </td>
                                <td id='aaa' title='{{ item.pdate }}'
                                    style='width: 50px; text-align: left;'>{{ item.pdate }}</td>
                                <td id='aaa' title='{{ item.pcomment }}'
                                    style='width: 50px; text-align: left;'>{{ item.pcomment }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="panel-footer text-right"><a href="#">更多</a></div>
                </div>
            </div>
        </div>

        <!--  这是第三列数据展示  -->
        <div class="col-xs-12 col-md-3 column">

            <div class="panel panel-primary">
                <!-- 第三列，第一行，展示 -->
                <div class="panel-heading">
                    <h3 class="panel-title">通知&公告 <i class="glyphicon glyphicon-bullhorn"></i></h3>
                </div>
                <div class="panel-body">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th> 序号</th>
                            <th> 标题</th>
                            <th> 时间</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in noticeList %}
                            <tr onclick="window.document.location = '/{{ item.moticeid }}'">
                                <td> {{ item.id }} </td>
                                <td id='aaa' title='{{ item.headline }}'
                                    style='width: 50px; text-align: left;'> {{ item.headline }} </td>
                                <td> {{ item.issuetime }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-right"><a href="#">更多</a></div>
            </div>


            <div class="panel panel-primary" style="display: {{ display }}">
                <!-- 第三列，第二行，展示 -->
                <div class="panel-heading">
                    <h3 class="panel-title">审批~通知&公告 <i class="glyphicon glyphicon-bullhorn"></i></h3>
                </div>
                <div class="panel-body">
                    <table id="table_page" class="table table-hover" style="table-layout: fixed;"
                           data-pagination="true" data-side-pagination="client" data-page-size="5">
                        <thead class="bg-default">

                        <tr>
                            <th> 序号</th>
                            <th> 标题</th>
                            <th> 时间</th>
                        </tr>

                        </thead>

                        <tbody>
                        {% for item in role3noticeList %}
                            <tr onclick="window.document.location = '/{{ item.moticeid }}'">
                                <td> {{ item.id }} </td>
                                <td id='aaa' title='{{ item.headline }}'
                                    style='width: 50px; text-align: left;'> {{ item.headline }} </td>
                                <td> {{ item.issuetime }} </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer text-right"><a href="#">更多</a></div>
            </div>
        </div>
    </div>

{% endblock %}
